#pose {
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-template-rows: 48.5% 48.5%;
  gap: 20px;
  place-content: center;
  justify-items: center;
  align-items: center;
}

#pose div {
  /* width: 100%;
  height: 100%; */
  /* background: greenyellow; */
}

.photoNO {
  background: no-repeat url("../images/photo_p1-4.jpg");
}

.photoNE {
  background: no-repeat url("../images/photo_p2-4.jpg");
  /* background-size: cover; */
}

.photoSO {
  background: no-repeat url("../images/photo_p3-4.jpg");
  /* background-size: cover; */
}
.photoNO,
.photoNE,
.photoSO {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.pose-texte {
  width: 85%;
  color: dimgray;
}
