hatml,
body {
  width: 100%;
}

#container {
  width: 100%;
  min-height: inherit;
}

header {
  padding: 0.5rem;
  min-height: 50px;
}

#logo h1 {
  display: none;
}

#logo img {
  width: 128px;
  height: 128px;
}

#connexion {
  margin-top: 1rem;
}
/* Navigation */

nav {
  display: flex;
  flex-direction: column;
  /* display: block; */
  background: none;
  position: static;
  margin-bottom: 1.5rem;
}

nav a {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  min-height: 5rem;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  vertical-align: middle;
  font-size: 1.8rem;
}

section {
  min-height: inherit;
  margin-bottom: 1.5rem;
}

/* Section Accueil */

#accueil {
  background-image: url("");
  width: 100%;
  height: inherit;
  margin-bottom: 1.5rem;
}
.accueil-panneaux {
  width: 100%;
}

.panneau-texte {
  width: 95%;
}

/* Section Soudure */

#soudure {
  min-height: inherit;
}

#soudureDroite {
  display: none;
}

#soudureGauche {
  padding-top: 0;
}

/* .soudure-panneaux {
  flex: inherit;
} */

/* Section Tirage */

#tirage {
  background: none;
  width: 95%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#tirageTexte {
  width: 100%;
}

#pose,
#mesure {
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  /* padding: 1.5rem; */
  width: 95%;
  background: rgba(50, 50, 50, 0.5);
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
}
#pose {
  display: block;
}

.pose-texte {
  width: 85%;
  color: inherit;
}

.photoNO,
.photoNE,
.photoSO {
  display: none;
}

.infotextes {
  width: 95%;
  margin: auto;
  padding: 1rem;
}

/* Section mesure */
#mesure img {
  display: none;
}

/* Formulaire */

#formContainer {
  padding: 1rem;
}
form {
  width: 97%;
  font-size: 2rem;
}

input {
  height: 5rem;
}

::placeholder {
  font-size: 1.6rem;
}

#socialmedia {
  width: 100%;
}

#socialmedia img {
  width: 50px;
}
